@import '/fonts/fonts.css';

:root {
	--font-body: 'Pretendard', sans-serif;
	--color-bg-0: #121212;
	--color-bg-1: #ffffff0d;
	--color-bg-2: #ffffff03;
	--color-primary-1: #FF0058FF;
	--color-primary-2: #FF00FFFF;
	--color-secondary-1: #f75485;
	--color-secondary-2: #fea1b4ef;
	--color-text-1: rgba(255, 255, 255, 0.87);
	--color-text-2: rgba(255, 255, 255, 0.70);
	--color-text-3: rgba(255, 255, 255, 0.38);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-body);
	
	::-webkit-scrollbar {
		width: 5px;
	}
	   
	::-webkit-scrollbar-track {
		background: #eeeeee;
		border-radius: 5px;
	}
	
	::-webkit-scrollbar-thumb {
		background: linear-gradient(#c2e59c, #64b3f4);
		border-radius: 5px;
	}

	::-webkit-scrollbar-track {
		display: none;
	}
}

html, body {
	width: 100%;
	height: 100%;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	color: var(--color-text-1);
	background-color: var(--color-bg-0);
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	font-size: 1rem;
}
